<div class="nav-right">
    <% if (currentUser) { %>
        <h1 class="welcome">Hi
            <%= currentUser.username.toLowerCase().charAt(0).toUpperCase() + currentUser.username.slice(1) %>!
        </h1>
        <div class="auth-links">
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="LOGOUT" class="btn-small red" />
            </form>
        </div>
        <% } else { %>
            <h1 class="brand-logo">Reflekt</h1>
            <div class="auth-links">
                <form action="/sessions/new" method="GET">
                    <input id="log-in" type="submit" value="LOGIN" class="btn-small" />
                </form>
                <form action="/users/new" method="GET">
                    <input type="submit" value="SIGNUP" class="btn-small" />
                </form>

                <!-- <div class="log-in"><a id="log-in" href="/sessions/new">LOGIN</a></div>
                <div class="sign-up"><a id="sign-up" href="/users/new">SIGNUP</a></div> -->
            </div>
            <!-- <div class="catch-phrase">
                Record<br /> Reflect
                <br /> Record
                <br />
            </div> -->
            <% } %>
</div>