* {
    /* border: 1px solid blue; */
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

li a {
    width: 120px;
    margin-bottom: 20px;
}

.entries {
    margin: 0 8px;
}

.entries input[type=image] {
    width: 16px;
}

a {
    text-decoration: none;
    color: rgb(72, 9, 145);
    cursor: pointer;
}

a:visited {
    color: rgb(72, 9, 145);
}

.add-habit {
    width: 20px;
    align-self: center;
    margin-right: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: salmon;
    height: 60px;
}

.welcome,
.log-out {
    margin-right: 20px;
}

.welcome {
    margin-left: 20px;
}

.brand-logo {
    width: 50%;
    font-size: 30px;
    margin-left: 20px;
    color: black;
}

.nav-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 167, 167);
    height: 60px;
}

.page-heading {
    margin-left: 20px;
}

.auth-links {
    display: flex;
}

.sign-up {
    margin-right: 10px;
}

.log-in {
    margin-right: 20px;
}