@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
:root {
    --color-dark: #12b482;
    --color-medium: #20e4a6;
    --color-highlight: rgba(255, 0, 0, 0.9);
    --color-grid: rgba(117, 117, 117, 0.3);
    --color-text-heading: rgba(255, 255, 255, 0.9);
    --color-text-body: rgba(10, 10, 10, 0.8);
    --color-bg: white;
}

body {
    width: 100%;
    max-width: 600px;
    height: 720px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text-body);
    align-self: center;
}

ul {
    margin-top: 0px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    margin-left: -20px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 21px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.3);
    padding-left: 20px;
}

li a {
    width: 120px;
    margin-bottom: 20px;
    font-size: 14px;
}

.entries {
    margin: 0 8px;
}

.entries input[type=image] {
    width: 13px;
}

a {
    text-decoration: none;
    /* color: rgb(72, 9, 145); */
    color: var(--color-text-body);
    cursor: pointer;
}

input[type=submit] {
    cursor: pointer;
}

a:visited {
    /* color: rgb(72, 9, 145); */
    color: var(--color-text-body);
}

.add-habit {
    width: 20px;
    align-self: center;
    margin-right: 20px;
}

.add-habit input[type=image] {
    width: 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: inherit;
    /* background-color: salmon; */
    background-color: var(--color-dark);
    height: 60px;
}

.welcome,
.log-out {
    margin-right: 20px;
}

.welcome {
    margin-left: 20px;
    color: white;
    font-family: 'Montserrat', 'semi-bold';
    font-size: 18px;
}

.brand-logo {
    width: 50%;
    font-size: 30px;
    margin-left: 20px;
    color: white;
}

.nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(14, 167, 167); */
    background-color: var(--color-medium);
    height: 60px;
}

.page-heading {
    width: 200px;
    margin-left: 20px;
    color: white;
    font-size: 15px;
}

.auth-links {
    display: flex;
    font-size: 13px;
}


/* .log-in {
    margin-right: 10px;
    color: white;
} */


/* #log-in {
    width: 60px;
}

.sign-up {
    margin-right: 20px;
    margin-left: -14px;
    color: white;
}

#sign-up,
#log-in {
    color: white;
} */

#sign-up {
    margin-left: -14px;
}

.auth-links input {
    height: 36px;
    width: 70px;
    /* background-color: brown; */
    background-color: var(--color-dark);
    color: white;
    /* border-radius: 4px; */
    border: none;
    /* border: 1px solid white; */
    margin-right: 14px;
}

.catch-phrase {
    line-height: 40px;
    font-size: 20px;
    color: #8080808c;
    text-align: center;
    margin-top: 200px;
}

.container {
    height: 100%;
    background-color: var(--color-bg);
}

.days {
    font-size: 12px;
    margin: 0px;
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: var(--color-highlight);
}

li div {
    position: relative;
    left: -6px;
}

.auth-form {
    margin-left: 20px;
    margin-top: 30px;
    line-height: 40px;
}

.auth-form input[type=submit] {
    border: none;
    width: 90px;
    height: 40px;
    background-color: var(--color-dark);
    color: white;
}

.auth-form label {
    margin-bottom: -15px;
    display: inline-block;
    width: 100px;
}

.day-letter {
    width: 20px;
    text-align: center;
    color: var(--color-text-heading);
    padding-top: 2px;
    border-radius: 23%;
    margin-left: 9px;
}

.day-heading {
    color: var(--color-text-heading);
    margin: 0;
}

.cal-view {
    display: flex;
    flex-flow: column-reverse;
}

.cal-days {
    border: 1px solid rgba(10, 10, 10, 0.1);
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 1.5px;
    opacity: 0.7;
}

.cal-week-label {
    color: var(--color-text-body);
    margin: 0;
}

.cal-rows {
    padding-top: 6px;
    border: none;
}

.cal-row1 {
    margin-top: 10px;
}

.icons {
    width: 90px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#delete {
    background-color: red;
}

.delete {
    margin-top: -1px;
}

.edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#edit {
    position: relative;
    left: 4px;
}

#grid-yes {
    background-color: var(--color-grid);
}

input[type=text],
input[type=password] {
    font-family: 'Montserrat', sans-serif;
    height: 20px;
}

.category-col {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-right: 10px;
}

.zblack {
    border: 1px solid rgba(10, 10, 10, 0.3);
    box-sizing: border-box;
}

.grey {
    /* default color for grid squares */
    background-color: #595959;
}

.violet {
    background-color: #722ed1;
}

.cyan {
    background-color: #40a9ff;
}

.green {
    background-color: #52c41a;
}

.yellow {
    background-color: #faad14;
}

.red {
    background-color: #d4380d;
}

#zblack {
    color: var(--color-text-body);
}

#violet {
    color: #722ed1;
}

#cyan {
    color: #40a9ff;
}

#green {
    color: #52c41a;
}

#yellow {
    color: #faad14;
}

#red {
    color: #d4380d;
}

.category-border {
    border: 1px solid rgba(10, 10, 10, 0.7);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px grey;
}

.habit-name {
    text-decoration: revert;
}


/* .day-heading h3 {
    margin: 0;
    font-size: 16px;
} */