body {
    /* background-color: red; */
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0;
}

li a {
    width: 120px;
}

.entries {
    margin: 0 30px;
}

.entries input[type=image] {
    width: 20px;
}


/* input[type=submit] {
    background:url(BACKGROUND_IMAGE_PATH_HERE);
    border:0;
    display:block;
    height:Change_TO_backgroundimageheight;
    width: Change_To_backgroundimageWidth;
} */