<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <div class="heading-bar">
            <h2 class="page-heading">CREATE NEW HABIT </h2>
            <%- include ('../partials/back.ejs') %>
        </div>
        <form class="auth-form" action="/habits/" method="POST">
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </p>
            <p>
                <label for="category">Category</label>
                <input type="text" name="category" id="category" />
            </p>
            <p>
                <div>Category color (optional)</div>
                <div class="category-col violet"></div>
                <div class="category-col cyan"></div>
                <div class="category-col green"></div>
                <div class="category-col yellow"></div>
                <div class="category-col orange"></div>
                <div class="category-col category-border"></div>
            </p>
            <input type="submit" value="CREATE"> </form>
    </div>
</body>

</html>