<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <div class="heading-bar">
            <h2 class="page-heading">CREATE NEW HABIT </h2>
        </div>
        <form class="auth-form" action="/habits/" method="POST">
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </p>
            <p>
                <label for="category">Category</label>
                <input type="category" name="category" id="category" />
            </p>
            <input type="submit" value="CREATE"> </form>
    </div>
</body>

</html>