<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new habit page</title>
</head>

<body>
    <h1>Add new habit to track</h1>
    <form action="/habits/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="category">Category</label>
        <input type="category" name="category" id="category" />
        <input type="submit" value="Submit">
    </form>
</body>

</html>