<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <div class="heading-bar">
            <h2 class="page-heading">USER LOGIN </h2>
        </div>
        <form class="auth-form" action="/sessions" method="POST">
            <%- include ('../partials/form.ejs') %>
        </form>
    </div>
</body>

</html>